name: build

on: [push]

env:
  CONFIG_PATH: ./examples/config_2022.yml

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff pytest pytest-cov
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
      - name: set pythonpath
        run: |
          echo "PYTHONPATH=home/runner/work/" >> $GITHUB_ENV
      - name: Lint with ruff
        run: |
          ruff check .
      - name: Format check with ruff
        run: |
          ruff format --check .
      - name: Test with pytest
        run: |
          python -m pytest --import-mode=append test/ --cov=netto test/
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
